<!-- views/footer.hbs -->

<div class="footer">
  <div class="container">
    <div class="text2">
      <div class="About">
        <h2>About Us</h2>
        <p>
          Inspired by the harmony of nature Cultivate your own sanctuary of
          serenity right at home. Whether you're a seasoned plant parent or just
          beginning your green journey, we are here to nurture your passion for
          plants with expert guidance and premium products. Experience the joy
          of green living with Nature—where every leaf tells a story and every
          bloom inspires wonder.
        </p>
        <div class="icons1">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
      </div>
      <div class="quick">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Shipping Policy</a></li>
          <li><a href="#">Replacement/Re-shipment Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Corporate Gifting</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Cancellation Policy</a></li>
        </ul>
      </div>
      <div class="Get">
        <h2>Get In Touch</h2>
        <p>Address: BML Munjal University, Gurugram</p>
        <p>Call us for Support: +91 11029211</p>
        <h3>Email</h3>
        <p>For Support: <a href="mailto:support@us.co">support@us.co</a></p>
        <p>For Bulk Orders: <a href="mailto:corporate@us.co">corporate@us.co</a></p>
      </div>
    </div>
  </div>
</div>
